<div class="ranking_area">
    <div class="card">
        <input type="text" class="card_name" placeholder="次の挑戦者のお名前" />
        <button type="button" class="start_btn">挑戦開始！</button>
    </div>

    <ul class="ranking_table">
        <li>
            <div class="head_th">順位</div>
            <div class="head_th">名前</div>
            <div class="head_th">スコア</div>
        </li>
        <li>
            <div class="td">1</div>
            <div class="td">something</div>
            <div class="td">9999</div>
        </li>
        <li>
            <div class="td">2</div>
            <div class="td">something</div>
            <div class="td">9999</div>
        </li>
        <li>
            <div class="td">3</div>
            <div class="td">something</div>
            <div class="td">9999</div>
        </li>
        <li>
            <div class="td">4</div>
            <div class="td">something</div>
            <div class="td">9999</div>
        </li>
        <li>
            <div class="td">5</div>
            <div class="td">something</div>
            <div class="td">9999</div>
        </li>
        <li>
            <div class="td">6</div>
            <div class="td">something</div>
            <div class="td">9999</div>
        </li>
        <li>
            <div class="td">7</div>
            <div class="td">something</div>
            <div class="td">9999</div>
        </li>
    </ul>
</div>
