<div class="ranking_area">
	<div class="flex_row">
		<!-- <img src="./img/pallet.png" alt="" id="top_pallet" /> -->
		<!-- <h1 class="title">🔥 挑戦バロメーター 🔥</h1> -->
		<img src="./img/pallet_logo.svg" alt="" id="top_logo" style="width: 30%" />
		<div class="card" style="width: 50%; margin: 0 20px">
			<input type="text" class="card_name" placeholder="次の挑戦者のお名前" />
			<button type="button" class="start_btn">挑戦開始！</button>
		</div>
	</div>

	<ul class="ranking_table">
		<li>
			<div class="head_th">Rank</div>
			<div class="head_th">Name</div>
			<div class="head_th">Score</div>
		</li>
	</ul>
</div>
